.default{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 8em 10em;
  background-color: rgb(30, 131, 247);
  margin-top: 105px;
}

/* ============ Flat design - Styling ============ */

.logo_flat{
    font-family: "Roboto Condensed";
    font-family: 700;
    font-size: 2em;
    text-decoration: none;
    color: white;
  }

.someicons_flat{
    margin-left: 1em;
    cursor: pointer;
}  

/* ============ Skeuomorphism - Styling ============ */
