@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

/* ============ Flat design - Styling ============ */

/* body {
  margin: 0;
  font-family: "Roboto Condensed", arial;
  font-weight: 700;
  color: #1a1a1a;
}

h1 {
  font-family: "Roboto Condensed";
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 22px;
}

h2 {
  font-family: "Roboto Condensed";
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 36px;
}

p {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
} */

/* ============ Skeuomorphism - Styling ============ */